.section-web{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../../../assets/images/fundo-programacao.png') no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
  }