container-slide.container{
    min-height: 400px;
  }
.section {
    background: url('../../assets/images/banners-1.png') no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll; 
}
.container-slide{
   margin-bottom: 5em;
   border: none;
  border-radius: 10px;
}
.center-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}