<nav class="navbar navbar-expand-md ">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <a class="navbar-brand d-none d-md-block mr-4" href="#">
                    <img src="../assets/images/logo-cinevirada-roxo.png" alt="">
                    <img src="../assets/images/cineViradaLogoTotal.png" alt="">
                </a>
                <li class="nav-item coluna">
                    <p>Data</p>
                    <p>Rua dos bobos, número 0</p>
                </li>

            </ul>
        </div>
    </div>
</nav>
<hr>