<div class="container mb-3">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="text-box">
                <h1>Equipes</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 column">
                <h2>Coluna 1</h2>
                <ul>
                    <li>Nome 1</li>
                    <li>Nome 2</li>
                    <li>Nome 3</li>
                </ul>
            </div>
            <div class="col-md-3 column">
                <h2>Coluna 2</h2>
                <ul>
                    <li>Nome 4</li>
                    <li>Nome 5</li>
                    <li>Nome 6</li>
                </ul>
            </div>
            <div class="col-md-3 column">
                <h2>Coluna 3</h2>
                <ul>
                    <li>Nome 7</li>
                    <li>Nome 8</li>
                    <li>Nome 9</li>
                </ul>
            </div>
            <div class="col-md-3 column">
                <h2>Coluna 4</h2>
                <ul>
                    <li>Nome 10</li>
                    <li>Nome 11</li>
                    <li>Nome 12</li>
                </ul>
            </div>
        </div>
    </div>
</div>