.section-web,.section-mobile {
  background: url('../../assets/images/banners-2.png') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll; 
}
.card {
  margin-top:10%;
  margin-right: 30%;
  width: 100%;
  padding: 30%;
  border-radius: 15px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom:10%;
 
}

.clickable-card {
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.clickable-card:hover {
  background-color: #f29c52; 
}
.hidden {
  display: none;
}
