<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="text-box">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet vehicula libero, non
                    lacinia nibh.
                    Vivamus non urna quis ex commodo lobortis. Sed non risus metus. Sed eget ante id ante pharetra
                    iaculis ac at
                    ante. Nunc condimentum non ex quis facilisis. Mauris vestibulum dapibus neque, sed viverra augue
                    vestibulum
                    et. Vestibulum pellentesque imperdiet odio. Morbi porttitor mattis lectus, non bibendum dui.
                    Phasellus auctor
                    turpis vel arcu sodales maximus. Pellentesque at erat at odio vehicula pulvinar ut eget enim. Nulla
                    vitae elit
                    eget odio congue auctor. Nam rutrum vulputate sagittis. Nulla facilisi.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="video-box">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/JkND-gUL9M8"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
            </div>
        </div>
    </div>
<hr>