.container-fluid {
  background: url('../../assets/images/banners-3.png') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  padding: 1%;
  min-height: 10vh;
}

.hidden {
  display: none;
}
.image-location-container {
  display: flex;
  justify-content: flex-end;
    img {
      width: 55%;
    }
}
.iframe-container {
  display: flex;
  justify-content: flex-start;
  .video-box {
    padding: 20px;
    min-height: 300px;
    align-items: center;
    justify-content: center;
    width: 85%;
  
    iframe {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
    }
  }  
}

@media screen and (max-width: 800px) {
  .image-location-container {
    display: flex;
    align-items: center;
    justify-content: center;
      img {
        width: 100%;
      }
  }
  .iframe-container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
    align-items: center;
    .video-box {
      width: 100%;
    }
  }
  iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
   
  }
 
}