
<div class="container-fluid p-0" [ngClass]="{'hidden': isMobile}">
    <div class="row">
        <div class="col-xl-6 image-location-container">
            <img src="../assets/images/data-e-local-preto.png" loading="lazy">
        </div>
        <div class="col-xl-6 iframe-container">
            <div class="video-box">
                <iframe src="https://www.youtube.com/embed/Qa4dRmAxlb4"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid p-0" [ngClass]="{'hidden': !isMobile}">
    <div class="row">
        <div class="col-xl-12 iframe-container">
            <div class="video-box">
                <iframe src="https://www.youtube.com/embed/JkND-gUL9M8"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>
            </div>
            <div class="image-location-container">
                <img src="../assets/images/data-e-local-preto.png" loading="lazy">
            </div>
        </div>

    </div>
</div>