<app-nav></app-nav>
<div class="section-web">
    <div class="container">
        <div class="row mx-auto">
            <div class="container-equipe text-center">
                <h1 class="titulo-paginas titulos-font d-inline-block">Equipe</h1>
            </div>
            <div class="row">
                <h3 class="color-white outros-textos-font"
                    style="font-weight: bold;">PET Cinema UFRB</h3>
                <hr style="color:#fff">
                <span class="span-size color-white outros-textos-font">
                    <strong>Coordenação CineVirada:</strong>
                    <span class="outros-textos-font"><p>
                            Aman Rodrigues | Dante Gabriel
                        </p></span>

                    <strong>Produção:</strong>
                    <span class="outros-textos-font">
                        <p>
                            Caê Sayuri | bagdá sakugawa | Luan Santos | Mapa
                            Macedo | Marcela Dias | Stephanie Costa
                            | Beatriz Dantas | Thierri Azevedo de Ornela |
                            Letícia Cristina | guivinte4
                        </p>
                    </span>

                    <strong>Tutoria</strong>
                    <p class="outros-textos-font">
                        <li>Marina Mapurunga</li>
                    </p>
                </span>
                <hr style="color:#fff">
                <h3 class="color-white outros-textos-font"
                    style="font-weight: bold;">Curadoria</h3>
                <hr style="color:#fff">
                <span class="span-size color-white outros-textos-font">
                    <strong>Competitiva Bahia:</strong>
                    <p>
                        Luan Santos | Leticia Cristina | Mapa Macedo
                    </p>

                    <strong>Competitiva Nordeste:</strong>
                    <p>
                        bagdá sakugawa | Marcela Dias | Stephanie Costa
                    </p>

                    <strong>CineViradinha:</strong>
                    <p>
                        Charles Morais | Ana Paula Nunes | Ludmila Carvalho |
                        Ana Larissa Cruz D'Ajuda | Beatriz Alves | Beatriz
                        Dantas | Letícia Cristina | Thiara Souza | Wellison
                        Silva

                    </p>
                </span>
                <hr style="color:#fff">
                <h3 class="color-white outros-textos-font"
                    style="font-weight: bold;">Teaser</h3>
                <hr style="color:#fff">
                <span class="span-size color-white outros-textos-font">
                    Alice Aguiar | Ana Clara Pereira | Aman Rodrigues | Emília
                    Chiapetti | Dante Gabriel | Ícaro Mattheus | Luan Santos |
                    Mapa Macedo | Pink | Pedro Jannotti
                </span>
                <hr style="color:#fff">

                <h3 class="color-white outros-textos-font"
                    style="font-weight: bold;">Júri</h3>
                <hr style="color:#fff">
                <span class="span-size color-white outros-textos-font">
                    <strong>Competitiva Bahia:</strong>
                    <p>
                        Angelita Bogado | Marcio Soares | Rafael Oliveira
                    </p>

                    <strong>Competitiva Nordeste:</strong>
                    <p>
                        Aquataluxe Rodrigues | Juan Rodrigues | Matheus Araujo
                    </p>
                </span>
                <hr style="color:#fff">
                <h3 class="color-white outros-textos-font"
                    style="font-weight: bold;">Colaboradores e Parceiros</h3>
                <hr style="color:#fff">
                <span class="span-size color-white outros-textos-font mb-3">
                    <a href="https://allmylinks.com/limalukas63" style="text-decoration: none; color: #000;">Lucas, o desenvolvedor</a> |
                     Fernando SantosCentro | Acadêmico de Jornalismo | GEECA | SONatório
                </span>

            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>