.section-web{
    background: url('../../../assets/images/banners-do-sitePrancheta-4.png') no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
  }

  .titulo-paginas {
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 52px;
    display: flex;
    align-items: center;
    letter-spacing: -0.5px;
    border-width: 4px 0px;
    border-style: solid;
    border-color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
    width: 10%;
}
.color-white {
    color: #fff;
}
.span-size {
    font-size: 20px;
}
li {
  list-style-type: none;
}