<div class="section-web">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-3">
                <h2 style="color: #b8174c;">O cinevirada
                    <hr style="border-top: 4px solid #000;">
                </h2>
            </div>
            <div class="col-md-6 col-12">
                <p class="paragrafo">
                    O CineVirada - Festival de Cinema Universitário da Bahia, originalmente intitulado de CineVirada
                    Cultural, foi idealizado por Izadora Chagas, em 2012, quando bolsista do Programa de Educação
                    Tutorial -
                    PET Cinema, com o intuito de exibir filmes produzidos por discentes do curso de Cinema e
                    Audiovisual, da
                    Universidade Federal do Recôncavo da Bahia - UFRB. Após 10 anos de história, o festival caminhou,
                    cresceu e se expandiu, e hoje agrega em si o cinema realizado por estudantes universitários de todo
                    o
                    Nordeste. Buscamos promover o diálogo amplo e saudável entre a academia e a comunidade local,
                    atuando
                    como uma ferramenta de transformação social. O cinema universitário explora temáticas relevantes
                    para a
                    realidade local, seja no Recôncavo da Bahia ou em tantas outras comunidades do Nordeste.
                </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <img src="../../../assets/images/LOGO-mono.png" alt="" width="50%" [ngClass]="{'hidden': isMobile}">
            </div>
            <div class="col-md-12 col-12 display-button" >
                <app-button-style [ngClass]="{'hidden': isMobile}"></app-button-style>
            </div>
            <div class="container" [ngClass]="{'hidden': !isMobile}">
                <div class="row">
                    <div class="col-3 d-flex justify-content-center">
                        <a href="https://www.facebook.com/petcinema" style="font-size: 30px;">
                            <i class="fa-brands fa-facebook fa-fade"></i>
                        </a>
                    </div>
                    <div class="col-3 d-flex justify-content-center">
                        <a href="https://www.instagram.com/petcinema/" style="font-size: 30px;">
                            <i class="fa-brands fa-instagram fa-fade"></i>
                        </a>
                    </div>
                    <div class="col-3 d-flex justify-content-center">
                        <a href="https://www.youtube.com/channel/UCX09mHWzNGcXxguUvpJmGhw" style="font-size: 30px;">
                            <i class="fa-brands fa-youtube fa-fade"></i>
                        </a>
                    </div>
                    <div class="col-3 d-flex justify-content-center">
                        <a routerLink="/equipe" style="font-size: 30px;">
                            <i class="fa-solid fa-users fa-fade"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
