/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400&display=swap');
body{
    font-style: normal;
    font-family: 'Bricolage Grotesque', sans-serif;	
    line-height: 1.5;
    font-weight: 400;
    position: relative;
    height: 100%;
}
body.active-body {
    background-color: #ccc; /* Cor cinza para o fundo */
    /* Outros estilos que você deseja aplicar quando o botão estiver ativo */
  }
hr {
    clear: both;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,.75),rgba(0,0,0,0));
}